<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<style>


</style>
<footer>
    <div class="line"></div>
    <div class="footer-content">
        <div></div>
        <p>&#169;DEEPSCAN 2025-deepfake Detector</p>
        <ul>
            <li><a href="https://www.x.com"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
    </div>

</footer>