{% extends "main.html" %}
{% block body %}
{% include "partials/navbar.html" %}
<div class="container">
  <div>
    <p>About us</p>
    <p>The rise of deepfake technology brings new <br/>challenges to trust and authenticity online.<br/>We are here to help detect, understand, and <br/>fight against deepfake manipulation<br/> protecting what matters most.</p>
  </div>
  <div>
    <video src="{{ url_for('static', filename='video/6994517_Ai Art_Generative Female_1920x1080.mp4') }}" width="700" autoplay muted loop></video>
  </div>
</div>
{% include "partials/footer.html" %}
{% endblock %}
